@charset "UTF-8";
@import url("../assets/fonts/svn/light/stylesheet.css");
@import url("../assets/fonts/svn/light-ita/stylesheet.css");
@import url("../assets/fonts/svn/medium/stylesheet.css");
@import url("../assets/fonts/svn/medium-ita/stylesheet.css");
@import url("../assets/fonts/svn/xlight/stylesheet.css");
@import url("../assets/fonts/svn/xlight-ita/stylesheet.css");
@import url("../js/libs/fontawesome/css/all.css");
@import url("../js/libs/magnific/magnific-popup.css");
@import url("../js/libs/swiper/swiper-bundle.min.css");
@import url("../js/libs/aos/aos.css");
@import url("../js/libs/gallery/lightgallery.min.css");
@import url("../js/libs/select2/select2.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


input,
select,
button,
textarea {
  outline: none;
  border: none;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

button,
select {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

iframe {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #e5e5e5;
}

::-webkit-scrollbar-thumb {
  background-color: #242424;
}

::selection {
  background: #242424;
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: block;
    width: 2px;
    height: 2px;
    background-color: rgb(255, 255, 255);
  }
}

.sec-80 {
  width: 100%;
  position: relative;
}

.sec-80 {
  padding: 8rem 0;
}

@media screen and (max-width: 1200px) {
  .sec-80 {
    padding: 6rem 0;
  }

}
@media screen and (max-width: 768px) {
  .sec-80 {
    padding: 4rem 0;
  }
}

@media screen and (max-width: 768px) {
  .combo-sec .sec-80 {
    padding: 0;
  }
}

.con {
  width: 100%;
  padding: 0 1.5rem;
  position: relative;
  margin: 0 auto;
}

.con {
  max-width: 167rem;
}

.sec-title {
  font-size: 1.6rem;
  font-family: "SVN-Futura Medium", sans-serif;
  text-transform: uppercase;
  margin-bottom: 5.2rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .sec-title {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .sec-title {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-title {
    margin-bottom: 2rem;
  }
}

.pd__list {
  margin-bottom: 2rem;
  width: calc(100% + 3rem);
  margin: 0 -1.5rem;
}

@media screen and (max-width: 768px) {
  .pd__list .col-3 {
    width: 50%;
  }
  .pd__page .pd__item {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .pd__list .pd__title, .pd__list .pd__price {
    font-size: 12px;
  }
}

.pd__list {
  margin-bottom: 2rem;
  width: calc(100% + 3rem);
  margin: 0 -1.5rem;
}

.fl-wrap {
  display: flex;
  padding: 0;
}

.fl-wrap {
  flex-wrap: wrap;
}

.col-3 {
  padding: 0 1.5rem;
}

.col-3 {
  width: 25%;
}

@media screen and (max-width: 600px) {
  .ft__big .col-3 {
    width: 50%;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .ft__big .col-3 {
    width: 100%;
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  }
  .ft__big .col-3:last-child {
    border-bottom: none;
  }
}

@media screen and (max-width: 768px) {
  .pd__list .col-3 {
    width: 50%;
  }
  .pd__page .pd__item {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .filter__main .col-3 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
.check .form .col-3 {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
.check .form .col-3 {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .acc .col-3 {
    width: 100%;
  }
}

.pd__item {
  margin-bottom: 2rem;
}

.pd__page .pd__item {
  margin-bottom: 4.5rem;
}

@media screen and (max-width: 768px) {
  .pd__list .col-3 {
    width: 50%;
  }
  .pd__page .pd__item {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .pd__list .col-3 {
    width: 50%;
  }
  .pd__page .pd__item {
    margin-bottom: 3rem;
  }
}

.pd__top {
  position: relative;
}

.pd__color {
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  bottom: 2.25rem;
  padding: 0 2.25rem;
  max-width: 100%;
}
.pd__color .co__btn {
  cursor: pointer;
  padding: 0 2.5px;
  cursor: pointer;
}
.pd__color .co__btn img {
  width: 12px;
  height: 12px;
}

.pd__out .pd__img,
.pd__out .pd__color {
  opacity: 0.2;
}

@media screen and (max-width: 480px) {
  .pd__color {
    bottom: 0;
  }
}

.pd__bot {
  font-size: 1.6rem;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .pd__bot {
    font-size: 14px;
  }
}

.pd__price {
  font-size: 1.8rem;
  line-height: 26px;
}
.pd__price span {
  margin-right: 1.5rem;
}
.pd__price del {
  display: inline-block;
  color: rgba(112, 112, 112, 0.3);
}
@media screen and (max-width: 1200px) {
  .pd__price {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 768px) {
  .pd__price {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .pd__price {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 480px) and (max-width: 768px) {
  .pd__price {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .pd__list .pd__title, .pd__list .pd__price {
    font-size: 12px;
  }
}